<h1 class="title is-size-5 has-text-centered has-text-dark">Editar Perfil</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.text_field :username, class: "input", autofocus: true, placeholder: "nombre"%>
  </div>

  <div class="field">
    <%= f.password_field :password, class: "input", autofocus: true, placeholder: "nueva contraseña"%>
  </div>

  <div class="field"> 
    <%= f.password_field :password_confirmation, class: "input", autofocus: true, placeholder: "repetir nueva contraseña"%>
  </div>

  <div class="field"> 
    <%= f.password_field :current_password, class: "input", autofocus: true, placeholder: "confirmar contraseña actual"%>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar", class: "button is-info is-fullwidth mt-5" %>
  </div>
<% end %>

<%# <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

<%= link_to "Cancelar", :back, class: "button is-danger is-outlined is-fullwidth mt-2" %>
