<section class="section">
  <div class="container">
    <div class="columns is-desktop is-vcentered">
      <div class="column is-6-desktop"><img src="<%= url_for(@producto.imagen)%>" style="width: 500px !important"></div>
      <div class="column is-6-desktop">
        <h2 class="title is-size-3 has-text-light is-spaced"><%= @producto.nombre %></h2>
        <p class="subtitle is-size-5 has-text-light">Detalles del producto</p>

        <section class="section py-2">
          <div class="container has-text-centered">
            <div class="columns is-multiline">
              <div class="column is-6 is-4-desktop">
                <i class="fa fa-product-hunt has-text-info mb-2" style="font-size: 45px !important"></i>
                <h4 class="subtitle is-4 has-text-light">Marca: <strong class="has-text-light is-size-5"><%= @producto.marca %></strong></h4>
              </div>

              <div class="column is-6 is-4-desktop">
                <i class="fa fa-tags has-text-info mb-2" style="font-size: 45px !important"></i>
                <h4 class="subtitle is-4 has-text-light">Modelo: <strong class="has-text-light is-size-5"><%= @producto.modelo %></strong></h4>
              </div>

              <div class="column is-6 is-4-desktop">
                <i class="fa fa-sort-numeric-desc has-text-info mb-2" style="font-size: 45px !important"></i>
                <h4 class="subtitle is-4 has-text-light">Existencia: <strong class="has-text-light is-size-5"><%= @producto.existencia %></strong></h4>
              </div>
        
              <div class="column is-6 is-4-desktop">
                <i class="fa fa-pencil-square has-text-info mb-2" style="font-size: 45px !important"></i>
                <h4 class="subtitle is-4 has-text-light">Categoria: <strong class="has-text-light is-size-5"><%= @producto.category.nombre %></strong></h4>
              </div>
              
              <div class="column is-6 is-4-desktop">
                <i class="fa fa-user has-text-info mb-2" style="font-size: 45px !important"></i>
                <h4 class="subtitle is-4 has-text-light">Proveedor: <strong class="has-text-light is-size-5"><%= @producto.supplier.nombre %></strong></h4>
              </div>

              <div class="column is-6 is-4-desktop">
                <i class="fa fa-money has-text-info mb-2" style="font-size: 45px !important"></i>
                <h4 class="subtitle is-4 has-text-light">Precio: <strong class="has-text-light is-size-5"><%= @producto.precio %></strong></h4>
              </div>

            </div>
          </div>
        </section>

        <div class="columns mt-3">
          <div class="column is-6">
            <div class="field is-horizontal">
              <div class="field-body is-pulled-right">
                <div class="field">
                  <div class="control">
                    <input class="input" type="number" placeholder="1">
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <button class="button is-primary">Agregar!</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="field is-horizontal is-pulled-right">
                <div class="field">
                  <div class="control">
                    <%= link_to "Editar", edit_product_path(@producto), class: "button is-success is-outlined"%>
                    <%= link_to "Eliminar", product_path(@producto), method: :delete, data: {confirm: "¿Estás seguro de elminar el producto #{@producto.nombre}?"}, class: "button is-danger is-outlined"%>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <hr class="my-1">
        <div class="level is-mobile">
          <div class="level-left">
            <%# <div class="level-item"><a href="#">Add to favorites</a></div> %>
          </div>
          <div class="level-right">
            <%= link_to "Regresar", products_path, class: "has-text-warning"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>