<div>
<p class="subtitle is-size-3 has-text-centered has-text-light my-2">Punto de venta</p>

</div>
<div class="columns">
    <div class="column is-10 is-offset-1">
        <%= link_to new_sale_path, {remote: true, class: "button mb-1 is-pulled-left btn-no-text"} do %>
            <i class="fa fa-plus"></i>
        <% end %>
        <%= link_to "Ag Producto", root_path, class: "button is-link"%>
        <%= link_to "Ag Producto", root_path, class: "button is-success"%>
        <div class="field is-pulled-right">
            <div class="tags are-medium has-addons">
                <span class="tag my-1">Importe</span>
                <span class="tag is-primary my-1"><%= @venta.importe %></span>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <%= link_to "Finaliza venta", sales_path, class: "button is-warning"%>
                <%= link_to "Cancelar Venta", @venta, method: :delete, class: "button is-danger", data: {confirm: "¿Cancelar la venta?"}%>

                <table class="table is-fullwidth">
                    <thead text>
                        <tr>
                            <th>Producto</th>
                            <th>Precio Unitario</th>
                            <th>Cantidad</th>
                            <th>Importe</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if @productos_venta.empty? %>
                        <tr>
                            <td>No hay productos</td>
                        </tr>
                        <% else %>
                            <% @productos_venta.each do |det|%>
                            <tr>
                                <td><%= det.product.try(:nombre) %></td>
                                <td><%= det.product.try(:precio) %></td>
                                <td><%= det.cantidad %></td>
                                <td><%= det.product.try(:precio) * det.cantidad %></td>
                            <% end %>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    <%# <%= will_paginate @ventas, renderer: BulmaPagination::Rails, :previous_label => t("anterior"), :next_label => t("siguiente"), class: 'is-rounded is-centered' %>    %>
        <div class="modal" id="modal-cat">
            <div class="modal-background"></div>
            <div class="modal-card">
                <!--<header class="modal-card-head">
                <p class="modal-card-title"></p>
                <button class="delete" aria-label="close"></button>
                </header>-->
                <section class="modal-card-body">
                </section>
            </div>
        </div>
    </div>
</div>