<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><%= link_to "Tablero", root_path %></li>
  </ul>
  <p class="menu-label">
    Administración
  </p>
  <ul class="menu-list">
    <li><%= link_to 'Productos', products_path %>
      <ul>
        <li><%= link_to 'Categorias', categories_path %></li>
      </ul>
    </li>
    <li><%= link_to 'Clientes', clients_path %></li>
    <li><%= link_to 'Proveedores', suppliers_path %></li>
  </ul>
  <p class="menu-label">
    Operaciones
  </p>
  <ul class="menu-list">
    <li><a>Almacen</a></li>
    <li><a>Ventas</a></li>
  </ul>
</aside>