<!DOCTYPE html>
<html>
  <head>
    <title>VENTAS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main">
      <%= render 'layouts/navigation'%>
      <div class="izquierda">
        <%= render 'layouts/aside'%>
      </div>
      <div class="centro">
        <%= yield %>
      </div>
      <%= render 'layouts/footer'%>
    </div>
  </body>
</html>
